.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  background-blend-mode: overlay;
}
