html {
  font-size: 10px;
  width: 100%;
  height: 100vh;
  background-image: url("/Images/HD-wallpaper-colour-storm-art-colours-design-paintings-pattern (1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
